* {
    box-sizing: border-box;
    /* border: solid 1px red; */
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

html{
    scroll-behavior: smooth;
}

header {
    width: 100%;
}


/* .avatar {
    margin-left: 10px;
    height: 150px;
    width: 150px;
    max-width: 50%;
    position: absolute;
    float: left;
    border: 3px dotted darkblue;
} */


.my-name {
    display: inline-flex;
    position: absolute;
    color: chocolate;
    margin-top: 15px;
    margin-left: 10px;

}

.navigation {
    display: inline-flex;
    justify-content: flex-end;
    min-width: 100%;
    background-color: rgb(63, 58, 78);
    text-wrap: nowrap;
    padding: 20px;
    color: chocolate;

}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;


}

.nav-links {
    text-decoration: none;
    margin: 40px;
    font-size: 150%;
    color: chocolate
    
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

/* .sidebar {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    padding: 10px;
    float: left;
    width: 25%;
    height: 1000px;
    background-color: aqua;
    position: relative;

} */

.about-me {
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 50px;
    height: 300px;
  

}


.my-work {
    background-color: darkgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    height: 300px;

}



.red-pic img {
   display: flex;
   border: solid 4px black;

}

.blue-pic img {
    display: flex;
    border: solid 4px black;

}

.green-pic img {
    display: flex;
    border: solid 4px black;

}


.contact {
    display: inline-flex;
    justify-content: flex-start;
    min-width: 100%;
    background-color: rgb(63, 58, 78);
    text-wrap: nowrap;
    padding: 20px;
    color: chocolate;


}

.h2 {
    justify-content: center;
}

.contact-links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: chocolate;

}

.contact-info {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 20px;
    font-size: 100%;
    color: chocolate;

}